<h1>Images#index</h1>
<p>
<a href="/images/new">Upload new image</a>
</p>
<% flash.each do |key, value| %>
    <p style="color:red" class="alert-<%= key %>"><%= value %></p>
<% end %>
<ul>
    <% @image.each do |image| %>
        <li>
        <a href="/images/show/<%= image.id %>"><%= image.title %></a>
        </li>
    <% end %>
</ul>
